{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">


<form action="" method="POST" class="dropzone dz" id='my-dropzone'> {%csrf_token%}
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>

    
  </form>
  
  <button id="sendbutton" class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Udostępnij pliki</button>



<script src="{%static 'js/dropzone.js'%}"></script>


{% endblock content %}